.header {
  padding: 1.6rem; /* Not sure */
  background-color: var(--bg_0);
}

.inner {
  display: flex;
  justify-content: flex-end;
}

.profile {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  padding: 0.8rem;
  border-radius: 1rem;
  transition: box-shadow 250ms ease;

  &:hover,
  &:focus {
    outline: none;
    text-decoration: none;
    /* Personal touch: */
    box-shadow: 0 0 0.3rem var(--primary);
  }

  &_txt {
    display: flex;
    flex-direction: column;
    margin-left: 1.2rem; /* 13px @REVIEW w/designer */
    line-height: 1.3;
  }
}

.avatar {
  display: block;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
  width: 3.6rem;
  height: 3.6rem;
  background-color: var(--secondary);
}
