.input {
  width: 100%;
  border: none;
  border-bottom: 0.1rem solid var(--grey_0);
  padding: 0.4rem 0 0.8rem;
  font-size: 2rem;
  color: var(--text_0);

  &::placeholder {
    color: var(--text_2);
  }

  &:hover,
  &:focus {
    outline: none;
    border-width: 0.15rem;
    margin-top: -0.05rem; /* to makeup the larger border-width */
    border-color: var(--primary);
  }
}
